// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;
#include "caninos-k7.dtsi"

/ {
	chosen {
		stdout-path = "serial3:115200n8";
	};
	
	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};
	
	cpus {
		cpu@0 {
			enable-method = "psci";
		};
		cpu@1 {
			enable-method = "psci";
		};
		cpu@2 {
			enable-method = "psci";
		};
		cpu@3 {
			enable-method = "psci";
		};
	};


	soc {
		
		leds {
			compatible = "gpio-leds";
			
			led@1 {
				label = "led1"; //LVDS_RXOC_P - GPIOB12
				gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "default-on";
				default-state = "ON";
			};
			
			led@2 {
				label = "led2"; //LCD0_D17 - GPIOB31
				gpios = <&gpiob 31 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "heartbeat";
				default-state = "ON";
			};
		};
	};

	spi0: spi-gpio {
		compatible = "spi-gpio";
		miso-gpios = <&gpiod 25 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpiod 24 GPIO_ACTIVE_HIGH>;
		sck-gpios  = <&gpioc 22 GPIO_ACTIVE_HIGH>;
		cs-gpios   = <&gpioc 2  GPIO_ACTIVE_LOW>;
		cs-num = <1>;

		#address-cells = <1>;
		#size-cells = <0>;

		sx1272: spi@0 {
			compatible = "caninos,sx1272-simple";
			reg = <0>;
			reset-gpios = <&atc260x_gpio 4 GPIO_ACTIVE_HIGH>;
			dio0-gpios = <&gpiob 11 GPIO_ACTIVE_HIGH>;
			xtal = <32000000>;
			pa-boost;
			status = "okay";
		};
	};
};

&emac {
	phy-mode = "rmii";
	max-speed = <100>;

	phy-power-gpio = <&gpiob 11 GPIO_ACTIVE_HIGH>;
	phy-reset-gpio = <&gpiod 31 GPIO_ACTIVE_HIGH>; 
};

&mmc1 {
	enable-gpios = <&gpiob 30 GPIO_ACTIVE_HIGH>, 
				   <&gpioc 3  GPIO_ACTIVE_HIGH>;
};