// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;
#include "caninos-k7.dtsi"


/ {
	chosen {
		stdout-path = "serial3:115200n8";
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	cpus {
		cpu@0 {
			enable-method = "psci";
		};
		cpu@1 {
			enable-method = "psci";
		};
		cpu@2 {
			enable-method = "psci";
		};
		cpu@3 {
			enable-method = "psci";
		};
	};

	soc {
		
		leds {
			compatible = "gpio-leds";
			
			led@1 {
				label = "led1"; //LVDS_RXOC_P - GPIOB12
				gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "default-on";
				default-state = "ON";
			};
			
			led@2 {
				label = "led2"; //LCD0_D17 - GPIOB31
				gpios = <&gpiob 31 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "heartbeat";
				default-state = "ON";
			};
		};
	};

	spi0: spi-gpio {
		compatible = "spi-gpio";
		miso-gpios = <&gpiod 25 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpiod 24 GPIO_ACTIVE_HIGH>;
		sck-gpios  = <&gpiob 2  GPIO_ACTIVE_HIGH>; // B2 for core 3.3; C22 for core 3.2 & 2.2
		cs-gpios   = <&gpioc 3  GPIO_ACTIVE_LOW>,
					<&gpioc 2  GPIO_ACTIVE_LOW>;
		cs-num = <2>;

		#address-cells = <1>;
		#size-cells = <0>;

		max-speed = <100000>;

		cam_m8q: spi@0 {
			compatible = "linux,spidev";
			reg = <0>;
			// reset = <&exgpio 1 GPIO_ACTIVE_LOW>;
			// int = <&gpiob 30 GPIO_ACTIVE_HIGH>;
		};

		sx1272: spi@1 {
			compatible = "caninos,sx1272";
			reg = <1>;
			// reset = <&exgpio 0 GPIO_ACTIVE_LOW>;
			// dio0 = <&gpiob 11 GPIO_ACTIVE_HIGH>;
		};
	};
};


&i2c2 {
    exgpio: exgpio@20 {
        compatible = "nxp,pca9575";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
        reset-gpios = <&gpioc 8 GPIO_ACTIVE_LOW>;
    };
};

&emac {
	phy-mode = "rmii";
	max-speed = <100>;

	phy-reset-gpio = <&exgpio 4 GPIO_ACTIVE_HIGH>;
};

&mmc1 {
    enable-gpios = <&exgpio 4 GPIO_ACTIVE_HIGH>;
    reset-gpios  = <&exgpio 2 GPIO_ACTIVE_HIGH>;
};