// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
#include "k7-soc.dtsi"

/ {
	model = "Caninos Labrador 7 (Base 2.1)";
};

&soc {
	leds {
		compatible = "gpio-leds";
		
		led@1 {
			label = "led1";
			gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
			default-state = "ON";
		};
		
		led@2 {
			label = "led2";
			gpios = <&gpiob 31 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "ON";
		};
	};
};

&mmc1 {
	enable-gpios = <&gpiob 30 GPIO_ACTIVE_HIGH>, <&gpioc 3 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&emac {
	phy-mode = "rmii";
	status = "okay";
	
	mdio {
		reset-gpios = <&gpiod 31 GPIO_ACTIVE_LOW>;
		reset-delay-us = <20000>;
		reset-post-delay-us = <150000>;
	};
};

&phy0 {
	max-speed = <100>;
};
