// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
#include "k7-base3x.dtsi"

/ {
	model = "Caninos Labrador 7 (Base 3.1 Mega)";
};

&soc {
	spi0: spi-gpio {
		compatible = "spi-gpio";
		max-speed = <100000>;
		#address-cells = <1>;
		#size-cells = <0>;
		miso-gpios = <&gpiod 25 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpiod 24 GPIO_ACTIVE_HIGH>;
		sck-gpios  = <&gpiob 2  GPIO_ACTIVE_HIGH>;
		cs-gpios   = <&gpioc 3  GPIO_ACTIVE_LOW>,
		             <&gpioc 2  GPIO_ACTIVE_LOW>;
		cs-num = <2>;
		status="okay";
		
		cam_m8q: spi@0 {
			compatible = "linux,spidev";
			reg = <0>;
		};
		
		sx1272: spi@1 {
			compatible = "caninos,sx1272-simple";
			reg = <1>;
			reset-gpios = <&exgpio 0 GPIO_ACTIVE_LOW>;
			dio0-gpios = <&gpiob 11 GPIO_ACTIVE_HIGH>;
			txen-gpios = <&atc260x_gpio 4 GPIO_ACTIVE_HIGH>;
			xtal = <32000000>;
			pa-boost;
			status = "okay";
		};
	};
};

&i2c2 {
	exgpio: exgpio@20 {
		compatible = "nxp,pca9575";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		reset-gpios = <&gpioc 8 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

&mmc1 {
	enable-gpios = <&exgpio 2 GPIO_ACTIVE_HIGH>, <&exgpio 4 GPIO_ACTIVE_HIGH>;
};

&emac {
	phy-mode = "rmii";
};

&phy0 {
	max-speed = <100>;
};
